* {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#john {
    font-size: 25px;
    margin: 15%;
    margin-top: 20%;
    margin-bottom: 2.5%;
}

.button {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 100px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 100%;
}