.snip1211 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.snip1211 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease-in-out;
}
.snip1211 a {
  padding: 0.1em 0;
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.snip1211 a:before {
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.5s ease;
  opacity: 0;
  top: 25%;
  bottom: 25%;
  left: 0;
  right: 0;
  border-top: 3px solid #34495e;
  border-bottom: 3px solid #34495e;
}
.snip1211 a:hover,
.snip1211 .current a {
  color: grey;
}
.snip1211 a:hover:before,
.snip1211 .current a:before {
  opacity: 1;
  top: 0;
  bottom: 0;
}
