@font-face {
	font-family: BebasNeue;
	src: url('fonts/BebasNeue-Regular.eot');
	src: url('fonts/BebasNeue-Regular.woff') format('woff'),
		 url('fonts/BebasNeue-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


body {
	font-family: Helvetica, sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
}


#navbar li{
	margin-top:3%;
}

#navbar {
	font-family: BebasNeue;
	width:20%;
	margin:auto;
	font-size: 4vw;
	list-style: none;
	text-align: center;
	min-height:100%;
}

#about {
	background-color: #cdf6fa;
}

#aboutMe {
	padding:20px;
}

#slideshow {
	height:120px;
	text-align: center
}

#upButton {
	position:fixed;
	top: 20px; 
	right: 0px; 
	padding-right: 50px;
	width:2.5%;
}

#logo {
	max-width: 10vw;
    height: auto;
	width: auto\9; /* ie8 */
	margin-top:2vh;
	margin-bottom:2vh;
}

/*
PLAIN ITEMS
*/

div {
	/*145vw for Mobile, 50vw for Desktop*/
	min-height: 100%;
	width: 100%;
	margin:0;
	/* background-color: blueviolet; */
}



a { 
	color:black; 
	text-decoration: none;
}

a:hover {
	color:grey; 
}