* {
	font-family: 'Roboto', sans-serif;
}

#title {
	font-size: 10vw;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #000000;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	margin-top: 50px;
}

#navbar {
	text-align: center;
	list-style: inside;
	line-height: 65px;;
	text-transform: uppercase;
}

#navbar li {
	margin-left:-10vw;
	list-style: none;
	font-size: 10vw;
} 

.section{ 
	z-index: 1;
	visibility: hidden;
}

a { 
	color: #707070;
	text-decoration: none;
}

a:hover {
	color:black; 
}