body {
	background-image:url("images/background.jpg");
	background-repeat: repeat;
	background-size: 100%;
}

h1 {
	color:white;
	font-family: 'Staatliches', cursive;
	font-size: 75px;
	margin:0 auto;
	font-weight: 100;
}

h2 {
	color:white;
	font-family: 'Staatliches', cursive;
	font-size: 55px;
	margin:0;
	font-weight: 100;
}

#stages {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
}

#starters img, #counterpicks img {
	width:500px;
	height:250px;
}

#backButton {
	background-color: #2196F3; 
	border: none;
	color: white;
	position:absolute;
	visibility: hidden;
	left:2vw;
}

.player1banned {
	border:5px solid red;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
} 

.player2banned {
	border:5px solid blue;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
} 

.chosen {
	border:5px solid green;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
} 

h3 {
	font-size: 80px;
	font-family: 'Staatliches', cursive;
	color:white;
	font-weight: 100;
	margin:-1%;
	padding-left:2%;
}

#gameSwitch {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2196F3;
}

/*iPhone from 5 - X*/
@media only screen and (max-width: 435px) {
	body {
		background-image:url("images/phoneBackground.jpg");
		background-repeat:repeat;
		background-size: auto;
	}

	#stages {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin: 0 auto;
	}

	#starters img, #counterpicks img {
		width:350px;
		height:175px;
		margin: 5px;
	}

	h1,h2{
		font-size: 55px;
		text-align: center;
		margin: 0 auto;
		text-align: center;
	}

	h3{
		font-size: 40px;
		text-align: center;
		margin:10px;
	}

	#gameSwitch {
		flex-direction: column;
		text-align: center;
		background-color: #2196F3;
		margin-top: 10px solid transparent;
	}

	#backButton {
		position: static;
		background-color: #2196F3; 
		border: none;
		color: white;
		font-size: 4px;
	}

}


/*iPad Resolution*/
@media only screen and (max-width: 768px) {
	body {
		background-image:url("images/phoneBackground.jpg");
		background-repeat:repeat;
		background-size: auto;
	}

	#gameSwitch {
		flex-direction: column;
		text-align: center;
		background-color: #2196F3;
	}

	#stages {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin: 0 auto;
	}

}



/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }